<div class="bg-light rounded h-20 p-4 mt-3 mr-5">
    <button class="btn btn-outline-success text-success text fw-bold add-btn mb-1" data-toggle="modal"
        data-target="#add-modal" data-children="{{this.children}}" data-adults="{{this.adults}}"
        data-infants="{{this.infants}}"> <i class="bi bi-plus"></i>
        <a class="text-success text fw-bold">Tạo mới</a></button>
    </button>


    <table class="table">
        <thead>
            <tr class="text-primary">
                <th>ID</th>
                <th>Người lớn</th>
                <th>Trẻ em</th>
                <th>Trẻ sơ sinh</th>
                <th>Tổng tiền</th>
                <th>Ngày đặt</th>
                <th>Thao tác</th>
            </tr>
        </thead>

        <tbody>
            {{#if booking}}
            {{#each booking}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.adults}}</td>
                <td>{{this.children}}</td>
                <td>{{this.infants}}</td>
                <td>{{this.total}}</td>
                <td>{{dateFormat this.created_at}}</td>
                <td>
                    <div class="d-flex flex-row"><button class="btn btn-primary edit-btn btn btn-sm btn-primary"
                            data-toggle="modal" data-target="#edit-modal" data-id="{{this.id}}"
                            data-children="{{this.children}}" data-adults="{{this.adults}}"
                            data-infants="{{this.infants}}">Sửa</button>|
                        <form method="post" action="/admin/account/{{{this.id}}}/delete">
                            <button class="btn btn-sm btn-danger" type="submit"
                                onclick="return confirm('Are you sure you want to delete this account?')">Xóa</button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>
<!-- Add modal -->
<div class="modal fade" id="add-modal" tabindex="1" role="dialog" aria-labelledby="add-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="add-modal-label">Thêm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="add-id">ID:</label>
                        <input type="text" class="form-control" id="add-id" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="add-name">Người lớn:</label>
                        <input type="number" class="form-control" id="edit-adults" name="adults">
                    </div>
                    <div class="form-group">
                        <label for="add-email">Trẻ em:</label>
                        <input type="number" class="form-control" id="edit-children" name="children">
                    </div>
                    <div class="form-group">
                        <label for="add-password">Trẻ sơ sinh:</label>
                        <input type="number" class="form-control" id="edit-infants" name="infants">
                    </div>
                    <div class="form-group">
                        <label for="add-password">Số tiền:</label>
                        <input type="number" class="form-control" id="edit-infants" name="total">
                    </div>
                    <div class="form-group">
                        <label for="add-password">Họ và tên:</label>
                        <input type="text" class="form-control" id="edit-infants" name="fullname">
                    </div>
                    <div class="form-group">
                        <label for="add-password">Giới tính:</label>
                        <select name="gender">
                            <option value="male">Nam</option>
                            <option value="female">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-password">Email:</label>
                        <input type="email" class="form-control" id="edit-infants" name="email">
                    </div>
                    <div class="form-group">
                        <label for="add-password">Số điện thoại:</label>
                        <input type="number" class="form-control" id="edit-infants" name="phone">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="add-form" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>




<!-- Edit modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="edit-modal-label">Chỉnh sửa account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-form" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="edit-id">ID:</label>
                        <input type="text" class="form-control" id="edit-id" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="add-name">Người lớn:</label>
                        <input type="number" class="form-control" id="edit-adults" name="adults">
                    </div>
                    <div class="form-group">
                        <label for="add-email">Trẻ em:</label>
                        <input type="number" class="form-control" id="edit-children" name="children">
                    </div>
                    <div class="form-group">
                        <label for="add-password">Trẻ sơ sinh:</label>
                        <input type="number" class="form-control" id="edit-infants" name="infants">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="edit-form" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    $(function () {

        $('.edit-btn').on('click', function () {
            var editForm = $('#edit-form');
            var editModal = $('#edit-modal');
            var id = $(this).data('id');
            var adults = $(this).data('adults');
            var children = $(this).data('children');
            var infants = $(this).data('infants');
            var btn = $(this);
            //fill data

            $('#edit-id').val(id);
            $('#edit-adults').val(adults);
            $('#edit-children').val(children);
            $('#edit-infants').val(infants);
            var newAction = '/admin/booking/update/' + id;
            editForm.attr('action', newAction);

        });
        $('.add-btn').on('click', function () {
            var addModal = $('#add-modal');
            var addForm = $('#add-form');
            addForm.attr('action', '/admin/booking/add')
        });



    });
</script>